.head{
	height:65px;
	width:1280px;
	margin:0 auto;
}
.logo{float:left;}
.logo img{margin-left:107px;margin-top:10px;}
.nav{float:right;margin-right:124px;}
.nav ul li{float:left;}
.nav ul li{height:68px;}
.nav ul li span{float:left;padding-top:27px;color:#e0e0e0;}
.nav ul li a{color:#666;font-size:22px;line-height:65px;padding:0 16px;height:50px;display:block;}
.nav ul li a.current{color:#ff4e31;border-bottom:5px solid #ff4e31;background-color:#e0e0e0;}
.nav ul li a:hover{color:#ff4e31;}

.center{
	width:1280px;
	height:1146px;
	margin:0 auto;
	background:url("../img/main.png");
}
.center_download{margin-left:140px;padding-top:310px;}
.about_us{clear:both;background:url("../img/bg.png");height:130px;padding-bottom:40px;}
.about_word{width:1000px;margin-left:135px;}
.about_word h2{font-size:24px;padding-top:15px;}
.about_word p{line-height:24px;margin-top:20px;}
.footer{width:1280px;margin:0 auto;height:100px;}
.footer p{text-align:center;font-size:14px;line-height:100px;}

.contact{margin-left:135px;}
.contact h2{font-size:24px;margin-bottom:10px;margin-top:20px;}
.contact p{line-height:24px;}
.map{margin-left:135px;margin-top:10px;}
