/.buildpath
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.php.core.prefs
/.idea
/.idea/vcs.xml
/.idea/codeStyleSettings.xml
/.idea/encodings.xml
/.idea/modules.xml
/.idea/tmj_m.iml
/.idea/scopes/scope_settings.xml

/application/logs/*.php
