.pay_box {
    margin-top: 2.05rem;
    padding: 1rem 0.5rem;
}
.pay_box p{
    font-size: 0.7rem;
}
.pay_box p:nth-of-type(2){
    margin-top: 0.5rem;
}
.payment{
    margin-top: 0.5rem;
}
.payment h3{
    font-size:0.7rem;
    font-weight: 400;
    color: #666;
}
.payment .is_checked {
    background: url("/public/img/checked_icon.png") no-repeat;
    background-size: 100%;
}
.payment .check_box {
    display: block;
    width: .7rem;
    height: .7rem;
    margin-left: .5rem;
    margin-top: 0.2rem;
}
.payment .check_box input[type='checkbox'] {
    visibility: hidden;
}
.payment .no_checked {
    background: url("/public/img/no_checked_icon.png") no-repeat;
    background-size: 100%;
}
.payment  .payment_img {
    padding:  0.5rem;
}
.payment  button{
    margin:2rem 0;
    border: 1px solid #cc3333;
    height: 2rem;
    width: 15rem;
    background:#cc3333;
    color: #fff;
    font-size: 0.7rem;
}
.payment .payment_w {
    width: 15rem;
    margin: 0 auto;
}