@charset "utf-8";
/* CSS Document */
html, div, body, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, dfn, em, img, ins, kbd, q,
samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td{margin:0;padding:0;border:0;outline: 0;line-height: 100%;font-family:'microsoft yahei',Arial,Helvetica,pxsans-serif;}
ol,ul{list-style:none;}
del{color: #999999;}
small,sup,sub{font-size:85%}
table{border-collapse:collapse;border-spacing:0}
img{vertical-align:top;width: 100%;}
em,i{font-style:normal}
html,body{height: 100%;min-height:100%;color: #666;}
html{font-size: 100px;/*-webkit-overflow-scrolling: touch;-mz-overflow-scrolling: touch;*/-webkit-text-size-adjust: none;}
body{line-height:20px;background:#f6f6f6;word-break:break-all;width:100%;min-width:320px;overflow-x:hidden;}
div{margin: 0 auto}
a{text-decoration:none;outline:0;-webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
a,h2,input,select,textarea{color: #333;}
h2{font-size: .7rem;}
input,select,textarea{font-family:'microsoft yahei',Arial,Helvetica,pxsans-serif;padding: 0;margin: 0;font-size: 0.65rem;}
textarea{resize:none}
input[type="checkbox"],input[type="radio"]{margin-right:.25rem;vertical-align: middle;}
img.load{background:url(/public/img/loading.gif) no-repeat center center;}/*没有加载时loading的效果*/
:focus{outline:0}
.clearfix:after{clear:both;content:"020";display:block;height:0;visibility:hidden;line-height:0;font-size:1px}
.clearfix{*zoom:1;clear:both;}
.fl{float:left}
.fr{float:right}
.b{font-weight: bold;}
.r{text-align:right!important}
.c{text-align:center!important}
.l{text-align:left!important}
.line1{border-bottom: 1px solid #e6e6e6;}
.line10{background: #f6f6f6;height: .5rem;border-top: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;}
.w{width:16rem;margin-left:auto;margin-right: auto;background-color: #fff;}
.p10{padding: 0.25rem;}
.p20{padding: 0.5rem 0.25rem;}
.p40{padding: .5rem 1rem;}
.mt10{margin-top:0.25rem;}
.mt20{margin-top:0.5rem}
.ml20{margin-left:.5rem}
.mr20{margin-right:0.5rem}
.mb20{margin-bottom:0.5rem}
.m20{margin:0.5rem 0;}
.c1{
    color: #cc3333;
}
.c2{
    color: #666;
}
.bb{
    border-bottom:1px solid #ccc;
}
.mask{height:100%; width:16rem; position:fixed; _position:absolute; top:0; z-index:101; }
.opacity{ opacity:0.3; filter: alpha(opacity=30); background-color:#000; }
.opacity2{ background:rgba(255, 255, 255, 0.8) none repeat scroll 0 0 !important;}
/*以下是脚步公共部分css*/
.foot_box{
    border-top:1px solid #ccc;
}
.foot_ph{
   font-size: 0.7rem;
}
.foot_ph a{
    display: block;
    position: relative;
}
.foot_ph a .foot_ph_i{
    position: absolute;
    display: block;
    width: 0.675rem;
    height: 0.65rem;
    background: url("/public/img/footer01.png") no-repeat;
    background-size: contain;
    top:0;
    left: -0.8rem;
}
.foot_box .code{
    text-align: center;
    font-size: 0.6rem;
}
/*右箭头*/
.right{width:.45rem;height: .8rem;background: url(/public/img/right.png) no-repeat;background-size: 100%; }
/*头部栏start*/
header{width:15rem;margin-left:auto;margin-right: auto;height:1.5rem;padding:0.25rem .5rem;background:#fff;position: fixed;top: 0;z-index: 100;border-bottom: 1px solid #ccc;}
header table{width:100%}
header table tr td{vertical-align:top;height: 1.5rem;line-height:1.5rem;color: #666;font-size:0.65rem}
header table tr td.icon{width:0.5rem;}
header table tr td.logo{width:2.35rem;}
header table tr td.icon a{display:block;width:0.75rem;height:1.5rem;background-position:center;background-repeat:no-repeat}
header table tr td.icon .category{background-image:url(/public/img/cat.png);margin-left: .5rem;background-size: 100%}
header table tr td.icon .return{background-image:url(/public/img/return.png);background-size: 100%}


/*选择框*/
.check_box{
    display: block;
    float: left;
    width: .7rem;
    height: .7rem;
    margin-left: .5rem;

}

.check_box input{
    display: block;
    width: .7rem;
    height: .7rem;
    background: url("/public/img/no_checked_icon.png") no-repeat;
    background-size: 100%;
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance:none;
}
.check_box input:checked{
    background: url("/public/img/checked_icon.png") no-repeat;
    background-size: 100%;
}

/*主菜单*/
.menu_box{
    width: 14rem;

    position: absolute;
    top:30%;
    left: 5%;
    z-index: 9999;
}
.menu{
    float: left;
    width: 4.625rem;
    height: 3.75rem;
    margin-bottom: .75rem;
}
.menu .menu_img{
    width: 2.4rem;
    height: 2.4rem;
}
.menu p{
    text-align: center;
    font-size: .55rem;
    margin-top: .5rem;
    color: #000;
}

/*
底部悬浮样式2*/
footer{
    width: 15rem;
    height: 1.5rem;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 100;
    padding: 0.25rem .5rem;

    border-top: 1px solid #ccc;
}
footer .footer_nav li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
footer .footer_nav li p{
    font-size: 0.5rem;
    color: #666;
}
footer .footer_nav li i{
    margin: 0 auto;
    width: 1.2rem;
    height: 1.125rem;
    display: block;
    text-align: center;
    position: relative;
}
footer .one i{
    background: url('../img/index/f_logo05.png') no-repeat;
    background-size: 100%;
}
footer .two i{
    background: url('../img/index/f_logo06.png') no-repeat;
    background-size: 100%;
}
footer .three i{
    background: url('../img/index/f_logo07.png') no-repeat;
    background-size: 100%;
}
footer .four i{
    background: url('../img/index/f_logo08.png') no-repeat;
    background-size: 100%;
}
footer .one .off i{
    background: url('../img/index/f_logo01.png') no-repeat;
    background-size: 100%;
}
footer .two .off i{
    background: url('../img/index/f_logo02.png') no-repeat;
    background-size: 100%;
}
footer .three .off i{
    background: url('../img/index/f_logo03.png') no-repeat;
    background-size: 100%;
}
footer .four .off i{
    background: url('../img/index/f_logo04.png') no-repeat;
    background-size: 100%;
}
footer li .off p{
    color: #cc3333;
}
footer li .cart span{
    display: block;
    position: absolute;
    top:0;
    left: 0.375rem;
    color: #cc3333;
    font-size: 0.45rem;
}
